publish/Logs/
publish/Logs/*
publish/wwwroot/Upload/ 
publish/wwwroot/
publish/wwwroot/* 
*.dmg 
publish/mode.txt
publish/labid.txt
DesktopApplication/Debug/net7.0/mode.txt
DesktopApplication/Debug/net7.0/appsettings- prod.json
DesktopApplication/Debug/net7.0/appsettings.json
